<h1>Form control example</h1>

<input
  type="text"
  placeholder="name"
  [formControl]="name"
  class="form__input"
/>
<input
  type="text"
  placeholder="last name"
  [formControl]="lastName"
  class="form__input"
/>

<div class="form__message">
  Display values entered by user - name:
  {{ name.value + ", last name: " + lastName.value }}
</div>

<div>
  <button (click)="getValue()" class="form__button">get data</button>

  <button (click)="changeValue()" class="form__button">Change value</button>
</div>
