

<h1>Lecture 4</h1><!--view encapsulation example using either emualation or shadow dom-->

<app-template-reference-variable-example></app-template-reference-variable-example>

<app-shadow-dom-example></app-shadow-dom-example>

<app-form-control-example></app-form-control-example>

<app-form-group-example></app-form-group-example>

<app-nested-form-group-example></app-nested-form-group-example>

<app-form-array-example></app-form-array-example>

<!-- TODO
SASS
primeng
formarray
view encapsulation
template referenve variables
-->